* {
    color: rgb(0, 0, 0);
    font-family: 'ABC Ginto Normal Unlicensed Trial', "Pretendard Variable", sans-serif;
}

window {
    background-color: #FFFFFF;
}

button {
    background-color: #dfdfdf;
}

button.basic {
    min-width: 5.5em;
    min-height: 5em;
    border-radius: 0.5em;
    margin: 0;
    padding: 0;
}

button.basic:active {
    background-color: #b4c2fa;
}

button.basic label {
    font-size: 0.8em;
}

button.basic0 {
    background-color: #f5fd87;
    min-width: 6em;
    min-height: 9em;
    border-radius: 0.5em;
}
button.basic0:active {
    background-color: #f5fd87;
}
button.basic0:active label {
    color: white;
}

button.basic1 {
    background-color: #dfdfdf;
    min-width: 6em;
    min-height: 9em;
    border-radius: 0.5em;
}
button.basic1:active {
    background-color: #dfdfdf;
}
button.basic1:active label {
    color: white;
}

button.basic2 {
    background-color: #b4c2fa;
    min-width: 6em;
    min-height: 9em;
    border-radius: 0.5em;
}
button.basic2:active {
    background-color: #b4c2fa;
}
button.basic2:active label {
    color: white;
}

button.basic3 {
    background-color: #cfffca;
    min-width: 6em;
    min-height: 9em;
    border-radius: 0.5em;
}
button.basic3:active {
    background-color: #cfffca;
}
button.basic3:active label {
    color: white;
}

button.tempbutton {
    border-radius: 0.5em;
    margin: 0;
    padding: 0;
}

button.tempbutton:active {
    background-color: #b4c2fa;
}

button.tempbutton label {
    font-size: 0.8em;
}

.posbox {
    background-color: #dfdfdf;
    border-radius: 10px;
    min-width: 100px;
    min-height: 100px;
}

button.top_menu {
    background-color: #dfdfdf;
    min-width: 6em;
    min-height: 9em;
    border-radius: 0.5em;
}
button.top_menu:active {
    background-color: #dfdfdf;
}
button.top_menu label {
    min-height: 2.4em;
}
button.top_menu:active label {
    color: white;
    min-height: 2.4em;
}

button.back {
    background-color: transparent;
}

button.back:active {
    background-color: transparent;
}

button.back:disabled {
    background-color: transparent;
}

button.home {
    background-color: transparent;
    min-width: 10px;
    min-height: 10px;
    border: none;
}
button.home:active {
    background-color: transparent;
    border: none;
}

button.transparent {
    background-color: transparent;
}

button.transparent_arrow {
    background-color: transparent;
    border: 0;
    margin: 0em;
}

button.transparent_job_status {
    border: 0;
    margin: 0em;
    padding: 0.05em 1em;
    background-color: transparent;
}

button.transparent_job_status label{
    font-size: .8em;
}

button.transparent_fine_tune {
    border: 0;
    margin: 0;
    padding: 0em;
    background-color: transparent;
}

button.transparent_fine_tune label{
    font-size: 0.8em;
}

button.transparent_spacer {
    background-color: transparent;
}

button.transparent_spacer:active {
    background-color: transparent;
}

button.transparent_more {
    font-size: 1.5em;
    background-color: transparent;
}

button:active {
    background-color: #b4c2fa;
}

.button_active {
    background-color: #b4c2fa;
    border-radius: 1em;
}

button.active {
    background-color: #20303D;
}

button.update {
    background: #009384;
    border-color: #009384;
}

button.invalid {
    background: #e61e1e;
    border-color: #e61e1e;
}

button.left_side {
    border: 1px solid #555;
    border-top-left-radius: 20px;    /* 왼쪽 위 */
    border-bottom-left-radius: 20px; /* 왼쪽 아래 */
    
    /* 오른쪽은 직각으로 유지 */
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

combobox box button {
    border-color: #dfdfdf;
}

switch {
    background-color: #dfdfdf;
    margin: 0.2em;
    min-width: 4em;
    min-height: 2em;
    border: 0;
    border-radius: 3em;
}

switch:checked {
    background-color: #b4c2fa;
}

entry {
    background-color: #dfdfdf;
    border-color: transparent;
}

label {
    color: black;
}

menu {
    background-color: #ffffff;
    border-color: #cccccc;
}

menuitem {
    background-color: #ffffff;
    border-color: #cccccc;
}

.custom-dropdown button{
    border-radius: 8px;
    background-color: #ffffff;
}

.custom-dropdown cellview {
    color: #000000;
    font-weight: bold;
}

.custom-dropdown menu {
    background-color: #ffffff;
    border: 1px solid white;
}

.custom-dropdown menu menuitem {
    padding: 10px;
    color: white;
}

trough {
    min-height: 1em;
    font-size: 0.2em;
    background-color: #dfdfdf;
    color: white;
    border-color: black;
}

trough highlight, trough progress {
    min-height: 1em;
    font-size: 0.2em;
    background-color: #b4c2fa;
    color: white;
    border-color: black;
}

popover {
    background-color: #dfdfdf;
}

scale-mark {
    color: white;
}

scrollbar {
    background-color: transparent;
}

scrollbar button, scrollbar trough {
    border: 1px solid #000000;
    border-radius: 3em;
    background-color: transparent;
}

scrollbar slider {
    min-width: 15px;
    background-color: #f5fd87;
}


textview .time {
    color: grey;
}

.popup {
    background-color: rgb(255, 255, 255);
}

.dialog {
    border: black;
    background-color: white;
}

.dialog button {
    background-color: transparent;
}

.dialog button:active {
    background-color: #b4c2fa;
}
/* 
.dialog button:nth-child(1) {
    border-bottom-color: #A7E100;
}

.dialog button:nth-child(2) {
    border-bottom-color: #cc1e1e;
} */

.distbutton_active {
    background-color: #b4c2fa;
}

.distbutton_top {
    border-color: white;
}

.distbutton {
    border-color: white;
    border-left-color: #ccc;
}

.distbutton_bottom {
    border-color: white;
    border-left-color: #ccc;
}

.distbutton_compact {
    min-height: 30px;
    padding: 4px 4px;
    margin: 0px;
}

.changesub {
    font-size: 0.7em;
}

.fan_slider {
    color: white;
}

.numpad_tleft, .numpad_top, .numpad_tright, .numpad_left, .numpad_button, .numpad_right, .numpad_bleft, .numpad_bottom, .numpad_bright {
    border-color: white;
}

.printing-status {
    color: #000000;
}

.printing-progress-text {
    color: rgb(0, 0, 0);
}

.printing-progress-text label{
    font-size: 0.8em;
}

.printing-status-label {
    color: #000000;
}

/* .tempbutton_top {
    border-color: white;
}

.tempbutton, .tempbutton_bottom {
    border-color: white;
    border-top-color: #ccc;
} */

.message {
    border-color: #981E1F;
    color: white;
    background-color: #981E1F;
}

.message button {
    background-color: white;
    color: black;
}

.warning {
    background-color: rgba(30, 204, 39, 0.7);
}

.error {
    background-color: rgba(204, 30, 30, 0.7);
}

.keyboard_pad {
    background-color: #dfdfdf;
}

.splash_text {
    font-size: 0.7em;
}